<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <a th:href="@{/}"><h2 th:text="#{header.titre}"></h2></a>

    <nav>

    <a th:href="@{/}" sec:authorize="isAuthenticated()" th:text="#{menu.encheres}"></a>
    <a th:href="@{|/encheres/${#authentication.principal.id}/nouvelleVente|}"  th:text="#{menu.vendreunarticle}" sec:authorize="isAuthenticated()"></a> <!-- sec:authorize="hasRole('admin')" -->
    <a th:href="@{|/encheres/profil/${#authentication.principal.id}|}" sec:authorize="isAuthenticated()" th:text="#{menu.MonCompte}"></a>

        <section class="inline-display" sec:authorize="isAuthenticated()">
            <!-- on offre la possibilité de se déconnecter (${#authentication.name}" : recupère le username de l'utilisateur connecté) -->
            <form th:action="@{/logout}" method="post">
                <button th:text="|#{header.deconnecter} : ${#authentication.name}|"></button>
            </form>
        </section>

        <div class="inline-display" sec:authorize="!isAuthenticated()">
            <a th:href="@{/encheres/login}" th:text="#{header.login}">S'inscrire - Se connecter</a>
        </div>

        <form method="get" action="/i18n" class="inline-display">
            <select name="lang" onchange="this.form.submit()">
                <option th:selected="${#locale.toString() == 'fr'}" value="fr" th:text="#{header.lang.fr}">Français</option>
                <option th:selected="${#locale.toString() == 'en'}" value="en" th:text="#{header.lang.en}">Anglais</option>
            </select>
        </form>



    </nav>

</header>


            <!--TODO AJOUTER UN BOUTON "PROFIL", qui va rediriger vers "ProfilUtilisateur", que l'utilisateur va pouvoir modifier par la suite.-->