<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <a th:href="@{/}"><h2>ENI-Enchères</h2></a>

    <nav>

    <a th:href="@{/}" sec:authorize="isAuthenticated()" th:text="#{menu.encheres}"></a>
    <a th:href="@{|/${#authentication.principal.pseudo}/nouvelleVente|}"  th:text="#{menu.vendreunarticle}" sec:authorize="isAuthenticated()"></a> <!-- sec:authorize="hasRole('admin')" -->
    <a th:href="@{|/profil/${#authentication.principal.pseudo}|}" sec:authorize="isAuthenticated()" th:text="#{menu.MonCompte}"></a>

        <section class="inline-display" sec:authorize="isAuthenticated()">
            <!-- on offre la possibilité de se déconnecter (${#authentication.name}" : recupère le username de l'utilisateur connecté) -->
            <form th:action="@{/logout}" method="post">
                <button th:text="|déconnecter : ${#authentication.name}|"></button>
            </form>
        </section>
        <!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
        <div class="inline-display" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">S'incrire - Se connecter</a>
        </div>
    </nav>

</header>


            <!--TODO AJOUTER UN BOUTON "PROFIL", qui va rediriger vers "ProfilUtilisateur", que l'utilisateur va pouvoir modifier par la suite.-->