<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<main layout:fragment="content">
<section>
    <h1>Listes des enchères</h1>
    <h2>Filtres :</h2>
    <script th:src="@{js/search.js}"></script>

<div>
    <input type="text" id="myInput" onkeyup="filterCards()" placeholder="RECHERCHER ICI">
</div>

        <br>

        <label th:text="#{encheres.categorie}">Catégorie :</label>
        <select onchange="filterSelection(this.value)">
            <option value="all" th:text="#{encheres.categorie.toutes}">Toutes</option>
            <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}"></option>
        </select>

        <div>
            <article th:each="article : ${articles}"
                     th:class="'filterDiv ' + ${article.categorie}">


            <div class="card" style="width: 10rem; " >
                <img th:src="@{|${article.imagePath}|}" style="width:100%">
                <div class="container">
                    <a sec:authorize="isAuthenticated()" th:href="@{|/${article.noArticle}|}" th:text="${article.nomArticle}"></a>
                    <span sec:authorize="!isAuthenticated()" th:text="${article.nomArticle}"></span>

                        <label th:text="#{encheres.prix}">Prix: </label>
                        <span th:text="|${article.prixInitial} #{encheres.points}|"></span>

                        <br>

                        <label th:text="#{encheres.fin}">Fin :</label>
                        <span th:text="${article.dateFinEncheres}"></span>

                        <br>

                        <label th:text="#{detail.vendeur}">Vendeur :</label>
                        <span th:text="${article.vendeur.pseudo}"></span>
                    </div>
                </div>

            </article>
        </div>

    </section>
    <script th:src="@{js/script.js}"></script>
</main>

</body>
</html>