<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<main layout:fragment="content">
    <h1>Listes des enchères</h1>
    <h2>Filtres :</h2>

    <section>
        <div>
            <form class="search-form">
            <input name="recherche" placeholder="Le nom de l'article contient" th:value="${recherche}">
            <button>Rechercher</button>
            </form>
        </div>
            <select name="text" id="text" placeholder="Toutes">
                <option value="chien">chien</option>
                <option value="chat">chat</option>
                <option value="poisson">poisson</option>
            </select>
        <div>

        </div>
    </section>
</main>

</body>
</html>