<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<main layout:fragment="content">
    <h1>Listes des enchères</h1>
    <h2>Filtres :</h2>

    <section>
        <div>
            <form class="search-form">
            <input name="recherche" placeholder="Le nom de l'article contient" th:value="${recherche}">
            <button>Rechercher</button>
            </form>
        </div>

        <br>

        <label>Catégorie :</label>
            <select name="text" id="text">
                <option value="" disabled selected>Toutes</option>
                <option value="informatique">Informatique</option>
                <option value="ameublement">Ameublement</option>
                <option value="vêtement">Vêtements</option>
                <option value="Sport&Loisirs">Sport & Loisirs</option>
            </select>
    </section>

    <section style="display: flex; flex-wrap: wrap;">
        <article th:each="enchere : ${encheres}">
            <div class="card">
                <img src="img_avatar.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 th:text="${enchere.article.nomArticle}"></h4><br>

                    <label>Prix: </label>
                    <span th:text="|${enchere.article.prixVente} points|"></span>

                    <label>Fin de l'enchère :</label>
                    <span th:text="${enchere.article.dateFinEncheres}"></span>

                    <label>Vendeur :</label>
                    <span th:text="${enchere.article.vendeur}"></span>

                </div>
            </div>
        </article>


    </section>
</main>

</body>
</html>