<!doctype html>
<html lang="en" layout:decorate="~{layouts/layoutPrincipal}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<main layout:fragment="contenu">
    <h2>Nouveau Vente</h2>

    <form class="form" th:action="" method="post">

        <label>Article :</label>
        <input type="text" th:field="">
        <br><br>

        <label>Description :</label><br>
        <textarea cols="40" rows="6" th:text=""></textarea>
        <br><br>

        <label>Catégorie :</label>
            <select name="text" id="text">
            <option value="" disabled selected>Toutes</option>
            <option value="informatique">Informatique</option>
            <option value="ameublement">Ameublement</option>
            <option value="vêtement">Vêtements</option>
            <option value="Sport&Loisirs">Sport & Loisirs</option>
            </select>
        <br><br>

        <label>Photo de l'article :</label>
        <input type="text" th:field="">
        <br><br>

        <label>Mise à Prix :</label>
        <select name="nombre" id="nombre">
            <option value="" disabled selected>310</option>
            <option value="informatique">Informatique</option>
            <option value="ameublement">Ameublement</option>
            <option value="vêtement">Vêtements</option>
            <option value="Sport&Loisirs">Sport & Loisirs</option>
        </select>
        <br><br>








    </form>

</main>
</body>
</html>