<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adresse</title>
</head>
<body>

<h2>Ajouter une adresse</h2>

<!-- ***** FORMULAIRE DE CREATION DE ADRESSE *****
Utilise : th:object pour envoyer au controller (méthode annotée @PostMapping)
directement un objet Adresse
-->
<form th:action="@{/adresse}" method="post" th:object="${adresse}">
  <label>Adresse : </label>
  <!-- à la place de name="titre" j'utilise : th:field="*{titre}" afin de remplir l'attribut "titre" de mon objet adresse -->
  <input type="text" th:field="*{rue}" required> <!-- required : rend obligatoire la saisi de ce champs -->
  <br>
  <input type="text" th:field="*{code_postal}" required> <!-- required : rend obligatoire la saisi de ce champs -->
  <br>
  <input type="text" th:field="*{ville}" required> <!-- required : rend obligatoire la saisi de ce champs -->
  <br>


  <button type="submit">Valider</button>
</form>

<h2>Liste des adresses</h2>

<!-- balise de base : table -->
<table>
  <!--entete de la table (première ligne) : thead-->
  <thead>
  <!--ligne :tr (table row)-->
  <tr>
    <!-- th (table header) : un colonne de titre de ma table -->
    <th>Id adresse</th>
    <th>Adresse</th>
    <th>Action</th>

  </tr>
  </thead>
  <!--donnees de la table : tbody-->
  <tbody>
  <!-- je vais générer une ligne  <tr> par genre stocké dans mon application
      pour cela, on va utilser l'attribut : th:each
      qui va itérer sur la liste contenue dans mon attribut de model : adresse a

      th:each="a : ${adresses}"
    -->
    <tr th:each="a : ${adresses}">
      <!-- td (table data) : une donnée de cellule d'un ligne de ma table -->
      <td th:text="${a.id}"></td>
      <td th:text="|${a.rue} ${a.code_postal} ${a.ville}|"></td>
      <td>
        <form class="inline-form" action="/adresse/supprimer" method="post">
        <button class="delete-button" type="submit" name="IdAdresseASupprimer" th:value="${a.id}">✗</button>
        </form>
      </td>

    </tr>

  </tbody>
</table>

</body>
</html>