<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Détail Vente</title>
</head>
<body>
  <main layout:fragment="content">

      <img th:src="@{|${article.imagePath}|}" style="width:200px" alt="Image de l'article">

      <label>Intitulé : </label>
      <span th:text="${article.nomArticle}"></span><br>

      <label>Description : </label>
      <textarea cols="20" rows="4" type= "text" th:text="${article.description}"></textarea><br>

      <label>Catégorie : </label>
      <span th:text="${article.categorie.libelle}"></span><br>

      <label>Meilleure offre : </label>
      <span></span><br>

      <label>Mise à prix : </label>
      <span th:text="${article.prixInitial}"></span><br>

      <label>Fin de l'enchère : </label>
      <span th:text="${article.dateFinEncheres }"></span><br>

      <label>Retrait : </label>
      <span th:text="${retrait.rue}"></span><br>
      <span th:text="${retrait.code_postal}"></span><br>
      <span th:text="${retrait.ville}"></span><br>

      <label>Vendeur : </label>
      <span th:text="${article.vendeur.pseudo}"></span><br>

    <form sec:authorize="isAuthenticated()" th:action="@{|/encheres/${article.noArticle}/encherir|}" method="post">

      <label>Ma proposition : </label>
      <input type="number" name="proposition"><br>

      <input type="submit" value="Encherir">

    </form>

  </main>

</body>

</html>