<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main layout:fragment="content">

    <section>
        <h1 th:text="#{login.titre}">Please Log In</h1>
        <div class="input-box" th:if="${param.error}" th:text="#{login.error}"></div>
        <div class="input-box" th:if="${param.logout}" th:text="#{login.logout}"></div>
        <form class="form" th:action="@{/login}" method="post">
            <div class="input-box">
                <input type="text" name="username" th:placeholder="#{login.username}"/>
            </div>
            <br>
            <div class="input-box">
                <input type="password" name="password" th:placeholder="#{login.password}"/>
            </div>
            <br>
            <button class="login-btn" th:text="#{login.btn}"></button>
            <a th:href="@{/encheres/profil/nouveauProfil}" th:text="#{login.inscription}"></a>


            <a th:href="@{/encheres/forgotPassword}" th:text="#{login.motDePasseOublie}"></a>
        </form>
    </section>
</main>