<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main layout:fragment="content">
<!--    <div th:if="${messageErreur}" style="color: red" th:text="${messageErreur}">-->
<!--        <span th:text="${messageErreur}"></span>-->
<!--    </div>-->
    <section>
        <form th:action="@{/encheres/login}" method="post" class="form">
            <h1 th:text="#{login.titre}">Please Log In</h1>

            <div class="input-box" th:if="${param.error}" th:text="#{login.error}"></div>
            <div class="input-box" th:if="${param.logout}" th:text="#{login.logout}"></div>

            <div class="input-box">
                <input type="email" name="username" th:placeholder="#{login.username}"
                       pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                       title="Veuillez renseigner ce champ."
                       required/>
            </div>
            <br>
            <div class="input-box">
                <input type="password" id="password" name="password"
                       th:placeholder="#{login.password}"
                       title="Veuillez renseigner ce champ."
                       required/>
                <i class="password-icon" onclick="togglePassword()" id="eye-icon" data-feather="eye"></i>
                <i id="eye-off-icon" data-feather="eye-off" style="display:none" onclick="togglePassword()"></i>
            </div>
            <script src="https://unpkg.com/feather-icons"></script>
            <script>
                feather.replace();

                function togglePassword() {
                    const input = document.getElementById('password');
                    const eyeIcon = document.getElementById('eye-icon');
                    const eyeOffIcon = document.getElementById('eye-off-icon');

                    if (input.type === 'password') {
                        input.type = 'text';
                        eyeIcon.style.display = 'none';
                        eyeOffIcon.style.display = 'inline';
                    } else {
                        input.type = 'password';
                        eyeIcon.style.display = 'inline';
                        eyeOffIcon.style.display = 'none';
                    }
                }
            </script>

            <br>
            <button class="login-btn" th:text="#{login.btn}"></button>
            <a th:href="@{/encheres/profil/nouveauProfil}" th:text="#{login.inscription}"></a>


            <a th:href="@{/encheres/motDePasse}" th:text="#{login.motDePasseOublie}"></a>
        </form>
    </section>
</main>