<!doctype html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<main layout:fragment="content">
    <fieldset class="table-container">
        <legend class="log"><h2>Nouvelle Vente</h2></legend>

    <form class="vente" th:action="@{./nouvelleVente}" method="post" th:object="${articleDto}">
        <section>
            <label>Article :</label>
            <input type="text" th:field="*{nomArticle}">
            <br><br>

            <label>Description :</label><br>
            <textarea cols="40" rows="6" th:field="*{description}"></textarea>
            <br><br>

            <label>Catégorie :</label>
                <select th:field="*{categorie}">
                    <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}"></option>
                </select>
            <br><br>

            <label>Photo de l'article :</label>
                <div action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" accept="image/*" />
                    <button  type="submit">UPLOADER</button>
                </div>
            <br><br>

            <label>Prix initial :</label>
            <input type="number" th:field="*{prixInitial}">
            <br><br>

            <label>Début de l'enchère:</label>
            <input type="date" th:field="*{dateDebutEncheres}">
            <br><br>
            <label>Fin de l'enchère:</label>
            <input type="date" th:field="*{dateFinEncheres}">
            <br><br>
        </section>


            <legend><h2>Retrait</h2></legend>
            <label>Rue :</label>
            <input type="text" th:field="*{rue}" th:placeholder="${utilisateur.rue}">
            <br><br>
            <label>Code postal :</label>
            <input type="text" th:field="*{code_postal}" th:placeholder="${utilisateur.codePostal}">
            <br><br>
            <label>Ville :</label>
            <input type="text" th:field="*{ville}" th:placeholder="${utilisateur.ville}">
            <br><br>

        <section>
            <button class="favorite styled" type="submit">Enregistré</button>
            <button class="favorite styled" type="submit">Annuler</button>
            <button class="favorite styled" type="submit">Annuler la vente</button>
        </section>
    </form>
    </fieldset>
</main>
</body>
</html>