<!doctype html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<main layout:fragment="content">
    <h2>Nouvelle Vente</h2>

    <form class="form" th:action="@{/nouvelleVente}" method="post" th:object="${article}">
        <section>
            <label>Article :</label>
            <input type="text" th:field="*{enchere.article}">
            <br><br>

            <label>Description :</label><br>
            <textarea cols="40" rows="6" th:field="*{enchere.article.description}"></textarea>
            <br><br>

            <label>Catégorie :</label>
                <select name="categorie">
                    <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}"></option>
                </select>
            <br><br>

            <label>Photo de l'article :</label>
            <button type="submit">UPLOADER</button>
            <br><br>

            <label>Mise à Prix :</label>
            <input type="number" name="nombre" id="nombre" placeholder="Nombre de points">
            <br><br>

            <label>Début de l'enchère:</label>
            <label></label><input type="date" id="" name="birthday">
            <input type="submit">
            <br><br>
            <label>Fin de l'enchère:</label>
            <input type="date" id="" name="birthday">
            <input type="submit">
            <br><br>
        </section>

        <fieldset>
            <legend><h2>Retrait</h2></legend>
            <label>Rue :</label>
            <input>
            <br><br>
            <label>Code postal :</label>
            <input>
            <br><br>
            <label>Ville :</label>
            <input>
            <br><br>
        </fieldset>

        <section>
            <button type="submit">Enregistré</button>
            <button type="submit">Annuler</button>
            <button type="submit">Annuler la vente</button>
        </section>
    </form>
</main>
</body>
</html>