
<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

                                    <title>Mon profil</title>
                <!-- TODO vérifier au niveau du bouton "Modifier" par la suite -->


                <!--TODO : CE PROFIL PERMET D'AVOIR LE BOUTON ENREGISTER ET SUPPRIMER LE COMPTE
                                    ET DE VOIR LES CREDITS DE SON COMPTE-->
</head>


<body>
    <main layout:fragment="content">


    <!--
    TODO Ici, pas de form car on ne renvoie rien au controleur
    -->
   <form
         th:action="@{/profilUtilisateur}" method="post" th:object="${utilisateur}">


         <label>Pseudo : </label>
       <!--
       TODO Plutôt que des inputs avec th:field -> <p> ou <span> avec th:text
       -->
         <input type="text" th:field="*{pseudo}"
                required><br>

         <label>Nom : </label>
         <input type="text" th:field="*{nom}" required><br>

         <label>Prenom : </label>
         <input type="text" th:field="*{prenom}" required><br>

         <label>Email : </label>
         <input type="text" th:field="*{email}" required><br>

         <label>Télephone : </label>
         <input type="text" th:field="*{telephone}" required><br>

         <label>Rue : </label>
         <input type="text" th:field="*{rue}" required><br>

         <label>Code Postal : </label>
         <input type="text" th:field="*{codePostal}" required><br>

         <label>Ville : </label>
         <input type="text" th:field="*{ville}" required><br>


        <!--

            **** pas besoin d'afficher les psw dans le profil (ce sera plutot dans nouveauProfil) ****

         <label>Mot de passe actuel : </label>
         <input type="hidden" th:text="${utilisateur.motDePasse}" required><br>

         <label>Nouveau mot de passe : </label>
         <input type="hidden" th:field="*{motDePasse}" required><br>

         <label>Confirmation : </label>
         <input type="password"
                title="Les mots de passe doivent correspondre"
                required><br>
       -->
         <label>Crédits : </label>
         <input type="number">

       <!--
        TODO  idem, pas besoin de valider un formulaire ici
       -->
       <button type="submit">Enregister</button>

  </form>

    <!--
    TODO inserer un lien <a> qui redirigera vers le controller pour arriver sur le template nouveauProfil
    -->

  <form          th:action="@{/profil/delete}" method="post">

         <input type="hidden" name="idASupprimer" th:value="${utilisateur.id}" />
         <button type="submit">Supprimer mon compte</button>
  </form>


</main>

</body>

</html>