
<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

                        <title>Mon profil</title>
</head>

                    // TODO vérification des liens

<body>
    <main>

   <form
         th:action="@{/profil}" method="post" th:object="${utilisateur}">


         <label>Pseudo : </label>
         <input type="text" th:field="*{pseudo}" required><br>

         <label>Nom : </label>
         <input type="text" th:field="*{nom}" required><br>

         <label>Prenom : </label>
         <input type="text" th:field="*{prenom}" required><br>

         <label>Email : </label>
         <input type="text" th:field="*{email}" required><br>

         <label>Télephone : </label>
         <input type="text" th:field="*{telephone}" required><br>

         <label>Rue : </label>
         <input type="text" th:field="*{rue}" required><br>

         <label>Code Postal : </label>
         <input type="text" th:field="*{codePostal}" required><br>

         <label>Ville : </label>
         <input type="text" th:field="*{ville}" required><br>

         <label>Mot de passe actuel : </label>
         <input type="password" th:text="${utilisateur.motDePasse}" required><br> //hidden

         <label>Nouveau mot de passe : </label>
         <input type="password" th:field="*{motDePasse}" required><br>

         <label>Confirmation : </label>
         <input type="password"  required><br>          <!--TODO méthode de  confirmation-->

       <button type="submit">Enregister</button>

  </form>

  <form          th:action="@{/profil/delete}" method="post">

         <input type="hidden" name="idASupprimer" th:value="${utilisateur.id}" />
         <button type="submit">Supprimer mon compte</button>
  </form>



</main>

</body>

</html>