
<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">

                                    <title>Mon profil</title>

</head>


<body>
    <main layout:fragment="content">


       <label>Profil : </label>
       <span th:text="${utilisateur.pseudo}"></span><br>

       <label>Nom : </label>
       <span th:text="${utilisateur.nom}"></span><br>

       <label>Prenom : </label>
       <span th:text="${utilisateur.prenom}"></span><br>

       <label>Email : </label>
       <span th:text="${utilisateur.email}"></span><br>

       <label>Telephone : </label>
       <span th:text="${utilisateur.telephone}"></span><br>

       <label>Rue : </label>
       <span th:text="${utilisateur.rue }"></span><br>

       <label>Code postal : </label>
       <span th:text="${utilisateur.codePostal }"></span><br>

       <label>Ville : </label>
       <span th:text="${utilisateur.ville }"></span><br>

        <label>Crédit :</label>
        <span th:text="*{utilisateur.credit}"></span><br>

        <a th:href="@{|/profil/${pseudo}/modifier|}" sec:authorize="isAuthenticated()"> <!-- th:href="@{/profil/{pseudo}/modifier(pseudo=${#authentication.principal.pseudo})}" -->
            <button type="button">Modifier mon profil</button>
        </a>


</main>

</body>

</html>