<html lang="en" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<main layout:fragment="content">
    <section>
        <form method="post" enctype="multipart/form-data">
            <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Utilisateur">
            </div>

            <div>
            <label for="password">password</label>
            <input id="password" type="password" placeholder="Password">
            </div>

            <input type="submit" value="submit">
        </form>
    </section>
</main>


